@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    padding: 20px;
    text-align: center;
    background: #d5d8b2;
    color: black;
    font-size: 30px;
}

.pooDescription {
    text-align: center;
    margin-right: 150px;
    margin-left: 150px;
}

.productContainer {
    text-align: center;
    padding: 250px;
}

.backgroundContainer {
    background-color: antiquewhite;
}

.pooImage {
    width: 150px;
}
